.switcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 45px;
}

.btnWrapper {
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  margin-right: 15px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.button:hover {
  /* width: 45px; */
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.img {
  height: 70%;
}

.active {
  width: 45px;
  /* border: solid 2px #ff6b0a; */
  background: #ff6b0a;
  box-shadow: 4px, 4px, 7px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}
