.cityInput {
  /* margin: 24px 0; */
  margin-bottom: 24px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  width: 370px;
  display: block;

  height: calc(1.75rem + 2px);
  padding: 0.15rem 0.25rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cityInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.red {
  color: red;
  margin-left: 5px;
  font-size: 16px;
}
